<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.czxttkl.madcourse"
    android:versionCode="19"
    android:versionName="3.13" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_DATA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        
        <activity android:name="edu.neu.zhengxingchen.madcourse.sudoku.Sudoku"
              android:label="@string/app_name">
            <intent-filter>
                <action android:name="edu.neu.zhengxingchen.madcourse.sudoku.launch" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="edu.neu.zhengxingchen.madcourse.sudoku.Game"
              android:label="@string/game_title"/>
        <activity android:name="edu.neu.zhengxingchen.madcourse.sudoku.About"
              android:label="@string/about_title"
              android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name="edu.neu.zhengxingchen.madcourse.sudoku.Prefs"
              android:label="@string/settings_title">
        </activity>
        
       <activity android:name="edu.neu.zhengxingchen.madcourse.dictionary.TestDictionary"
              android:label="@string/app_name">
            <intent-filter>
                <action android:name="edu.neu.zhengxingchen.madcourse.dictionary.launch" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
       
       
       
       
        <activity
            android:name="edu.neu.zhengxingchen.madcourse.dabble.GameMenu"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name="edu.neu.zhengxingchen.madcourse.dabble.Appstart"
            android:theme="@style/ActivityStyle" 
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="edu.neu.zhengxingchen.madcourse.dabble.launch" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="edu.neu.zhengxingchen.madcourse.dabble.Prefs"
            android:theme="@style/MyDialogStyle" 
            android:screenOrientation="landscape">
        </activity>
        
        <activity
            android:name="edu.neu.zhengxingchen.madcourse.dabble.GameActivity"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name="edu.neu.zhengxingchen.madcourse.dabble.GameOver"
            android:theme="@style/MyDialogStyle" 
            android:screenOrientation="landscape">
        </activity>
       
        <activity android:name="edu.neu.zhengxingchen.madcourse.dabble.PauseActivity"
            android:theme="@style/MyDialogStyle"
           android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name="edu.neu.zhengxingchen.madcourse.dabble.Exit"
            android:theme="@style/MyDialogStyle" >
        </activity>
    </application>

</manifest>